.main {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: 3rem;
  align-items: center;
  justify-items: center;
  padding: 1.5625rem;
  gap: 1.5625rem;
  box-sizing: content-box;
  height: -webkit-fill-available;
}
