.values {
  background-color: var(--color-content);
  border-radius: var(--border-2x);
  overflow: hidden;
  box-shadow: var(--shadow);
  display: flex;
  width: -webkit-fill-available;
  flex-direction: column;
  visibility: hidden;
  top: 120%;
  position: absolute;
  z-index: var(--z-1);
}
.show {
  visibility: visible;
}
.value {
  cursor: pointer;
  &:hover, &--active {
    background: var(--color-content-hover);
  }
}
