/* Dark mode colors. */
:root {
	--sl-color-accent-low: #440d10 !important;
	--sl-color-accent: #ff0000 !important;
	--sl-color-accent-high: #ff5f54 !important;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #ff837a !important;
	--sl-color-accent: #db022a !important;
	--sl-color-accent-high: #9e0318 !important;
}