/* Dark mode colors. */
:root {
  --sl-color-accent-low: #440d10 !important;
  --sl-color-accent: #b30047 !important;
  --sl-color-accent-high: #ff0066 !important;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #ff837a !important;
  --sl-color-accent: #db022a !important;
  --sl-color-accent-high: #ff0066 !important;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff006680;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Optional: Adjust for better contrast */
}
