:root {
  /* Colors */
  --color-primary: #6507af;
  --color-danger: #f44336;
  --color-secondary: #2ab007;
  --color-bg: #16151a;
  --color-content: #26252a;
  --color-content-hover: #3d3b42;
  --color-text: #f1f1f3;
  --color-text-alt: #dbdce1;
  /* UI Directives*/
  --shadow: #ffffff26 0px 2px 8px;
  --border-1x: 0.25rem;
  --border-2x: 0.5rem;
  --border-3x: 1rem;
  --z-1: 10;
  --z-2: 20;
  --z-3: 30;
  --z-4: 40;
  --z-5: 50;
  --z-6: 60;
  --z-7: 70;
  --z-8: 80;
  --full: -webkit-fill-available;
}
@supports not ((width: -webkit-fill-available) or (height: -webkit-fill-available)){
  :root{
    --full: -moz-available;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {}
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &::-webkit-scrollbar{
    width: .4375rem;
    height: .4375rem;
  }
  &::-webkit-scrollbar-track{
    background: transparent;
  }
  &::-webkit-scrollbar-thumb{
    background: var(--color-text-alt);
    border-radius: .2188rem
  }
}

html, 
body { 
  max-width: 100vw; 
  height: 100vh; 
  overflow-x: hidden; 
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb)); 
  background: linear-gradient( 
      to bottom,  
      transparent, 
      rgb(var(--background-end-rgb)) 
    )
    rgb(var(--background-start-rgb)); 
}
/* Reset input*/ 
input { 
  all: unset;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
