.content {
  width: 20rem;
  display: flex;
  grid-row: 2/3;
  flex-direction: column;
  flex-shrink: 0;
  height: -webkit-fill-available;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  gap: 0.625rem;
}
