.shape {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .625rem;
  padding: .625rem;
  border-radius: var(--border-2x);
  background: var(--color-content);
  border: .0625rem solid transparent;
  &__icon {
    height: 2rem;
    aspect-ratio: 1/1;
  };
  &__title {
    font-size: 14px;
    width: -webkit-fill-available;
  };
  &__image {
    height: 3rem;
    width: fit-content;
    max-width: 120px;
    image-rendering: -moz-crisp-edges;
    flex-shrink: 0;
  };
  &__trash {
    width: 1.5rem;
    height: 100%;
    flex-shrink: 0;
    padding: .3125rem;
    display: flex;
    align-items: center;
    border: none;
    border-radius: var(--border-1x);
    background: var(--color-content-hover);
    transition: background .2s ease;
    &:hover{
      background: var(--color-danger);
    }
  }
  &__select {
    border: .0625rem solid var(--color-primary);
  }
}